{{#if isAuthenticated}}
  <h2>Hello there {{firstname}}</h2>
{{else}}
{{/if}}

<div class="row no-gutter">

  <div class="col s12 m12 l6 nopadding mycol" id="firstrowimage">
    <article class="hovereffect">
      <img class="img-responsive" src="../images/restaurants.jpg">
      <header>
        <a class="img-responsive" href="/places-things/Restaurant">
          <div class="overlay">
            <h2>Restaurants</h2>
          </div>
        </a>
      </header>
    </article>
  </div>

  <div class="col s12 m12 l6 nopadding mycol" id="secondrowimage">

    <div class="col s12 m6 l6 mycol">
      <article class="hovereffect">
        <img class="img-responsive" src="../images/entertainment.jpg">
        <header>
          <a class="img-responsive" href="/places-things/Entertainment">
            <div class="overlay">
              <h2>Entertainment</h2>
            </div>
          </a>
        </header>
      </article>
    </div>

    <div class="col s12 m6 l6 mycol" id="thirdrowimage">
      <article class="hovereffect">
        <img class="img-responsive" src="../images/retail.jpg">
        <header>
          <a class="img-responsive" href="/places-things/Retail">
            <div class="overlay">
              <h2>Retail</h2>
            </div>
          </a>
        </header>
      </article>
    </div>

    <div class="col s12 m6 l6 mycol">
      <article class="hovereffect">
        <img class="img-responsive" src="../images/bar.jpg">
        <header>
          <a class="img-responsive" href="/places-things/Restaurant">
            <div class="overlay">
              <h2>Bars</h2>
            </div>
          </a>
        </header>
      </article>
    </div>

    <div class="col s12 m6 l6 mycol">
      <article class="hovereffect">
        <img class="img-responsive" src="../images/medical.jpg">
        <header>
          <a class="img-responsive" href="/places-things/Medical">
            <div class="overlay">
              <h2>Medical</h2>
            </div>
          </a>
        </header>
      </article>
    </div>

  </div>
</div>

<h4>Looking for more...</h4>

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../images/rubuildings.jpg">
            <span class="card-title">RU Buildings</span>
          </div>
          <div class="card-content">
            <p>RU you looking for buildings around Rutgers? Checkout our list of Rutgers facilities that you may be looking for.</p>
          </div>
          <div class="card-action">
            <a href="/places-things/RUBuilding">More Info</a>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../images/transportation.jpg">
            <span class="card-title">Transportation</span>
          </div>
          <div class="card-content">
            <p>Need to know which bus to take to class? Need to know the best time to take the bus? Check out what people have to say.</p>
          </div>
          <div class="card-action">
            <a href="/places-things/Transportation">More Info</a>
          </div>
        </div>
      </div>

      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <img src="../images/Kirkpatrick_Chapel_1766_Rutgers.jpg" alt="By ColonelHenry at English Wikipedia, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=34611156">
            <span class="card-title">Places of Worship</span>
          </div>
          <div class="card-content">
            <p>New around Rutgers? Need a place to </p>
          </div>
          <div class="card-action">
            <a href="/places-things/Religion">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
